.home {

  header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed lightgray;

    @media @mobile {
      flex-direction: column;
      justify-content: space-between;
      margin-top: 20px;
    }
  }
  
  .content-section {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media @mobile {
      width: 100%;
    }

    .top-content {
      border-bottom: 1px dashed lightgray;

      h2 {
        padding-top: 20px;
      }

      p {
        padding-bottom: 20px;
      }
    }
    
    .text-content {
      width: 48%;
      padding-top: 20px;
      padding-right: 1%;

      @media @mobile {
        width: 100%;
        flex-direction: column;
      }
    }

    .img-content {
      width: 48%;
      padding-top: 20px;
      padding-left: 1%;

      @media @mobile {
        width: 100%;
        justify-content: center;
      }
    }

      img {
        border-radius: 10px;

        @media @mobile {
          width: 100%;
        }
      }
    }

    .inverse-content {
      margin: 0 auto;
      display: flex;
      padding-bottom: 30px;
      border-bottom: 2px dashed @navigation-border;

      @media @mobile {
        flex-direction: column-reverse;
      }
  
      .text-content {
        padding-left: 1%;
        padding-right: 0;
      }
  
      .img-content {
        padding-right: 1%;
        padding-left: 0;

        @media @mobile {
          width: 100%;
        }
      }
    }
  
    .content-destination {
      width: 75%;
      margin: 0 auto 30px;
      padding-top: 20px;

      @media @mobile {
        width: 100%;
      }
  
      img {
        border-radius: 10px;
      }
    }
  
    .content-pick {
      padding-top: 30px;
      border-top: 2px dashed lightgray;
      display: flex;
      justify-content: space-between;

      @media @mobile {
        flex-direction: column;
      }
  
      .destination {
        width: 30%;
        margin: auto;
        padding-top: 15px;
        padding-bottom: 15px;

        @media @mobile {
          width: 80%;
        }
  
        .btn {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 40px;
          .btnFormat(90%; teal; white; 10px; 1.6rem);
        }
      }
    }
  }