.btnFormat(@width; @background; @color; @border-radius; @font;) {
    width: @width;
    background: @background;
    color: @color;
    border-radius: @border-radius;
    font-size: @font;
}

.mobile-mixin() {
    display: flex;
    flex-direction: column;
}