nav {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
        margin: 10px;
        padding-right: 20px;
        text-decoration: none;
        color: black;
        font-size: 1.6rem;
    }
}